<div class="any-login">
  <%= image_tag 'any_login/person.png', class: 'any-login__person-img', onclick: 'AnyLogin.on_image_click();' %>
  <div class="any-login__forms-wrapper">
    <% AnyLogin.klasses.each do |klass| %>
      <div>
        <%= form_tag any_login.sign_in_path(as: klass), :method => :post, class: 'any-login__form' do %>
          <span>
            <%= any_login_select(klass) %>
            <%= any_login_submit %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<style>
    .any-login {
        position: fixed;
        bottom: 0;
        left: 0;
        background: #5c4383;
        color: white;
        z-index: 100;
        padding: 5px;
    }
    .any-login__person-img {
        cursor: pointer;
        vertical-align: middle;
    }
    .any-login__forms-wrapper {
        display: none;
    }
    .any-login__form {
        margin-top: 5px;
    }
</style>


<script type="text/javascript" charset="utf-8">
  const AnyLogin = {};
  AnyLogin.on_image_click = function() {
      const formBox = document.querySelector('.any-login__forms-wrapper');
      formBox.style.display = 'inline-block';
  };

  AnyLogin.on_select_change = function () {
    const anyLoginForm = document.querySelectorAll('.any-login__form');
    anyLoginForm.forEach(form => {
      const select = form.querySelector('select');
      select.addEventListener('change', () => {
        form.submit();
      })
    })
  };
  AnyLogin.on_select_change();
</script>

